*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: #000;
    color: #666;
    text-align: center;
}

audio {
    width: 450px;
    margin: 30px 0;
}

.container{
    height: 420px;
    overflow: hidden;
    /* border: 2px solid #666; */
}
.container ul {
    /* border: 1px solid #b97171; */
    transition: 0.5s;
    /* margin-top: 200px; */
}
.container li {
    list-style: none;
    height: 30px;
    transition: 0.2s;
}
.container li.active {
    color: #fff;
    /* font-size: 2rem; */
    transform: scale(1.2);
}